body{
    margin: 0;
    text-align:Center;
    font-family: 'Merriweather Sans', sans-serif;
}
.top-container{
    background-color:#EAF6F6; /*#EAF9F5*/
    position:relative;
    padding-top: 100px; 
}
h1{
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color:#66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    margin-top:0;
}
h3{
    margin: 30px auto 30px auto;
    color:#11999E;
}
a{
    color:#11999E;
    padding:30px;
    margin-top:50px;
}
p{
    margin:0;
}
.top-cloud{
    position: absolute;
    right:350px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    top:300px;
    left:200px;
}
.profile{
    width:50%;
    margin: auto;
    line-height:2;
}
.my-img{
    width:25%;
    margin: 30px auto 0 auto;
}
.skill-row{
    margin:50px auto 100px auto;
    width:50%;
    text-align: left;
    line-height: 2;
}
.prog-img{
    width:25%;
    float:left;
    margin-right:30px;
}
.typing-img{
    width:25%;
    float:right;
    margin-left:30px;
}
.mou-image{
    width:40%;
}
hr{
    border-color:rgb(195, 190, 190);
    border-style: none;
    width: 5%;
    border-width: 5px;
    border-top-style:dotted;
    margin:30px auto 30px auto;
}
.btn{
    background-color: #66BFBF;
}
.contact-me{
    margin:auto auto 100px auto;
}
.bottom-container{
    background-color: #66BFBF;
    padding:40px;
}